<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
<style>
.froodBox{
  border: 2px;
  border-color: black
}

</style>
<div class="padding">

  <super-navbar>
    <super-navbar-title>
    Frood
    </super-navbar-title>
  </super-navbar>

  <accordion close-others="false">
      <accordion-group>
          <accordion-heading>
              <div class="row">
                  <a class = "froodBox">
                      <div class="col-md-4">
                          GEECS BBQ
                      </div>
                      <div class="col-md-4">
                          Tech LR2
                      </div>
                      <div class="col-md-4">
                        7:30 PM
                      </div>
                  </a>
              </div>
          </accordion-heading>
          <div class="col-xs-12">
            Come out to the GEECS BBQ for some great food and have a rip roaring time with us.
          </div>
      </accordion-group>
  </accordion>
</div>
